@import url("./var.css");

body {
  background-image: url(../images/background-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /*
    font-family: 'Roboto Mono', monospace;
    font-size: 32px;
    font-weight: bold;
    color: var(--txt-color);
    background-color: var(--bg-color);
    transition: all .3s ease-in-out;
    background-position: top;
    background-repeat: space;
    background-size: cover;

*/
}

#menuBar {
    height: 10vh;
    border-bottom: 2px solid;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

