@import url('./var.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');

body {
    background-image: url(../images/background-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

#menuBar {
    height: 10vh;
    padding: 0 20px;
    border-bottom: 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

#menuBar .logo {
    width: 60px;
}

#menuBar .icon {
    text-decoration: none;
    color: #000;
    font-size: 40px;
    margin-right: 16px;
}

main > div {
    display: flex;
    justify-content: center;
    padding-top: 32px;
}

#carouselExample {
    width: 30vw;
    margin: 10px auto;
}

.carousel-item {
    height: 250px;
    width: 50vw;
}

.carousel-item img {
    height: 100%;
    object-fit: contain;
}

#detalhes {
    background-color: #FFF;
    padding: 16px 24px;
    height: fit-content;
    max-width: 60vw;
    border-radius: 25px;
}

#detalhes #div-valor {
    display: flex;
    gap: 16px;
    align-content: center;
}

#detalhes #div-valor #valor {
    font-size: 32px;
    font-weight: bold;
}