* {
  margin: 0;
  padding: 0;
}

.content {
  width: 200px;
  border: 2px solid black;
  display: grid;
  margin-top: 10px;
  margin: 50px;
}

.content a {
  margin: 10px;
}

.titleContent {
  border-bottom: 2px solid black;
  text-align: center;
}

#tabelaProd {
  margin: 50px;
  display: none;
  position: absolute;
  border: 2px solid black;
}

#tabelaProd tr,
th,
td {
  border: 2px solid black;
  padding: 5px;
  text-align: center;
}
