@import url("./var.css");
@import url("./default.css");
@import url("https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css");

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#containerCadastro {
  height: fit-content;
  max-width: 60%;
  min-width: 400px;
  border-radius: 25px;
  padding: 40px 60px;
  background-color: rgba(255, 255, 255, .9);
  font-size: 20px;
}


