@import url("./var.css");
@import url("./default.css");
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');

body{
    display: grid;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 15px;
    width: 70%;
    margin: 100px 0 !important;
    padding: 40px 60px;
    justify-self: center;
}

thead th {
    font-weight: bold;
}

tr,
th,
td {
    text-align: center;
}

#enderecoEntrega,
#pagamentoOpc {
    font-size: 18px;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
    background-color: var(--bg-color);
}