@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
    --font: 'Roboto Mono', monospace;

    --bg-color: #D6DDDF;
    --bg-accent-color: #AEB5B7;
    --bg-alternative-color: #E0E7E9;
    --txt-color: #333333;
    --txt-accent-color-primary: #5DA399;
    --txt-accent-color-secondary: #004840;
    --txt-accent-color-ternary: #FFC107;
    --txt-alternative-color-primary: #8f001a;
    
    --text-200: #5c5c5c;
    
    --primary-200: #40867d;
    
    --accent-100: #FF6B6B;

}